.btn-custom-register {
     border: none !important; 
transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-custom-register:hover {
background-color: rgba(52, 58, 64, 0.7);  
color: #e7ecf1 !important; 
border-color: transparent !important; 
}